<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Connexion
    </h1>
    <div id="InProgress">
        <a [routerLink]="'/login'"> Login </a>
        <a [routerLink]="'/home'"> Home </a>
        <a [routerLink]="'/profile'"> Profile </a>
        <a [routerLink]="'/clients'"> Liste des clients </a>
        <a [routerLink]="'/fournisseurs'">Liste des fournisseur</a>
        <a [routerLink]="'/users'"> Liste des utilisateurs </a>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>
