<div>
    <h1>
        Fournisseurs
    </h1>
    <div>
        <table  style="width:100%">
            <tr>
                <th>Nom</th>
                <th>Numéro de téléphone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Référence</th>
            </tr>
            <!-- tr *ngFor="let contact of contacts">
                <td> { { contact.nom } } </td>
                <td> { { contact.telephone } } </td>
                <td> { { contact.adresse } } </td>
                <td> { { contact.email } } </td>
                <td> { { contact.numero } } </td>
            </tr -->
        </table>

    </div>
